.scroll-div {
  position: fixed;
  top: 56px;
  left: 72px;
  right: 0px;
  background-color: white;
  z-index: 100;
}

.scroll-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 54px;
}

.scroll-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  position: absolute;
  left: 0;
}

.scroll-button.right {
  position: absolute;
  right: 0;
}

.scroll-button.hidden {
  display: none;
}

.scroll-content {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scroll-content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scroll-item {
  flex: 0 0 200px;
  margin-right: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
